.primary{
  color: #FFF !important;
  background-color: #332000 !important;
}

.highlight{
  color: #FFF !important;
  background-color: #329A00 !important;
}

.title {
  font-family: Kirsty;
  src: url(http://www.princexml.com/fonts/larabie/kirsty.ttf) format("truetype");
}

html {
  font-family: Kirsty Regular;
  src: url(http://www.princexml.com/fonts/larabie/kirsty.ttf) format("truetype");
}

.card {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
}

.card-panel {
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 10px;
  padding-bottom: 2px;
}

.page-footer {
  padding: 2px;
  font-size: 20px;
}

.page-footer a:link { color: blue; }

.footer-copyright {
  padding: 2px;
}

.row {
  margin: 5px;
}

.dropdown-content {
  overflow: visible;
}

.flow-text {
  font-size: 15px;
}

.nav-wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
  align: center;
}

.nav {
  align: center;
  padding-right: 10px;
}

.nav ul li {
  float: right;
}

.valign {
  vertical-align: baseline;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle !important;
}

nav .brand-logo {
    font-size: 4rem;
}

img {
  padding-top: 30px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
