html {
  font-family: 'Ubuntu';
}

.card {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
}

.flow-text {
  font-size: 13px;
}

.nav-wrapper {
  padding-bottom: 80px;
  margin-bottom: 20px;
  align: center;
}

.material-icons {
    display: inline-flex;
    vertical-align: bottom;
}
