html {
  font-family: 'Ubuntu';
}

.card {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
}

.card-panel {
  margin-top: 0px;
  margin-bottom: 5px;
}

.flow-text {
  font-size: 15px;
}

.nav-wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
  align: center;
  overflow: hidden;
}

.nav {
  align: center;
  overflow: hidden;
}

.nav ul li {
  float: right;
}

.valign {
  vertical-align: baseline;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle !important;
}

nav .brand-logo {
    font-size: 4rem;
}

.small-pad {
  padding-top: 5px;
  padding-bottom: 5px;
}

img {
  padding-top: 30px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
