/*
	Name: Smashing HTML5
	Description: Basic layout
	Version: 2
	Author: PuZZleDucK
	Autor URI: http://puzzleduck.org
*/

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 10;
	border: 0;
	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

	margin: 10;
	padding: 25;
	border: 3;
}
ol{
	list-style: none;
}
ul {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
}



table {
	width:100%;
}
table.equalDevide tr td {
	width:50%;
	max-width:50%;
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
}


.code{
	background: #999999;

    margin-left: 100px;
    margin-right: 100px;
    padding-left: 30px;
    padding-right: 30px;

    border:solid 0px #000000;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright:25px;
    -moz-border-radius-bottomleft:25px;
    -moz-border-radius-bottomright:25px;
    -webkit-border-top-left-radius:25px;
    -webkit-border-top-right-radius:25px;
    -webkit-border-bottom-left-radius:25px;
    -webkit-border-bottom-right-radius:25px;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;

    white-space: nowrap

}



.wrapper {
	min-width: 1000px;
	max-width: 2000px;
	margin: 0 auto;
}





/* Header
-----------------------------------------------------------------------------*/
.header {
	background: #FFFFCC;
	color: #330033;
	text-shadow:2px 2px 2px #666666;
	

	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;



    border:solid 6px #000000;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:75px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:75px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-top-left-radius:75px;
    border-top-right-radius:75px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;

    -moz-box-shadow: 10px 10px 5px #330033;
    -webkit-box-shadow: 10px 10px 5px #330033;
    box-shadow: 10px 10px 5px #330033;

}


/* Middle
-----------------------------------------------------------------------------*/
.middle {

	background: #FFFFCC;
	color: #330033;

	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;

	
    border:solid 6px #000000;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;



    -moz-box-shadow: 10px 10px 5px #330033;
    -webkit-box-shadow: 10px 10px 5px #330033;
    box-shadow: 10px 10px 5px #330033;

	
}

.lower {

	background: #FFFFCC;
	color: #330033;

	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;

	
    border:solid 6px #000000;
    border:solid 6px #000000;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:25px;
    -moz-border-radius-bottomright:25px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:25px;
    -webkit-border-bottom-right-radius:25px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;



    -moz-box-shadow: 10px 10px 5px #330033;
    -webkit-box-shadow: 10px 10px 5px #330033;
    box-shadow: 10px 10px 5px #330033;

	
}

.middle:after {
	background: #FFFFCC;
	display: table;
	clear: both;
	content: '';
}
.container {
	background: #FFFFCC;
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	background: #FFFFCC;
	padding: 0 270px 0 0;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {

	background: #FFFFCC;
	color: #330033;
	text-shadow:2px 2px 2px #000000;
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;

    border:solid 3px #000000;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;


}


/*
	formatting for handy links and pic
*****************/
#handylinks {
	background: #999999;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
 
#handylinks figure {
	border: 2px solid #FFFFCC;
	float: right;
	margin: 0.786em 2em 0 5em;
}
#handylinks figure img {display: block; float: center;}
#handylinks h2 {color: #9200CC; font-size: 1.714em; margin-bottom: 0.333em;}
#handylinks h3 {font-size: 1.429em; margin-bottom: .5em;}
#handylinks h3 a:link, #featured h3 a:visited {color: #9200CC; text-decoration: none;}
#handylinks h3 a:hover, #featured h3 a:active {color: #fff;}

